{% extends "base.html" %}

{% block title %}訂餐團-主頁{% endblock  %}
{% block content %}
{% include "nav_bar.html" %}
{% load static %}
<script src="{% static 'js/group.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<div class="content">
    <div class="buttons">
        <button>店家管理</button>
        <button>發起團購</button>
    </div>
    自己的
    <div class="groupArea groupArea_own">
        <div class="group">
            1
            圖片
            文字
        </div>
    </div>
    現有團
    <div class="groupArea groupArea_START">
        <div class="group">
            1
            圖片
            文字
        </div>
        <div class="group">
            2
        </div>
        <div class="group">
            3
        </div>
    </div>
    已結束
    <div class="groupArea groupArea_END">
        <div class="group">
            1
            圖片
            文字
        </div>
    </div>
</div>
<script>
    window.onload = function(){
        get_all_groups_by_status("START")
        get_all_groups_by_status("END")
        get_groups_by_user_id()
    }
</script>
{% endblock  %}