{% extends "base.html" %}
{% block title %}
訂餐團-登入
{% endblock %}
{% block content %}
<div class="container">
    <div class="login">
        {% if timeout %}
        登入逾時，請重新登入
        {% endif %}
        
        <input class="userId" placeholder="請輸入員工編號">
        <input class="passwd" type="password" placeholder="請輸入密碼">
        <input class="loginBtn" type="button" value="登入" onclick="to_login()">
    </div>
</div>
<script>
    function to_login(){
        userId = document.querySelector(".userId").value
        passwd = document.querySelector(".passwd").value
        data = {"userId" : userId, "passwd" : passwd}
        fetch("/api/login/", {
            headers: { 
                "X-CSRFToken": "{{csrf_token}}",
                "user-agent": "Mozilla/4.0 MDN Example",
                "content-type": "application/json", 
            },
            method: "POST", 
            body: JSON.stringify(data),
        })
        .then(function (response){
            return response.json()
        })
        .then(function (myJson){
            if (myJson["status"] == 200){
                localStorage.setItem("token", myJson["token"])
                location.href="/index/"
            }
            else{
                alert(myJson["status"])
            }
        })
    }
</script>
<style>
    .container {
        width: 100hv;
        height: 100hv;
        margin: 20%;
    }
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .userId{
        width: 200px;
        height: 25px;
    }
    .passwd{
        width: 200px;
        height: 25px;
    }
    .loginBtn{
        width: 200px;
        height: 30px;
    }

</style>
{% endblock  %}