.content {
    min-width: 1200px;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    flex-direction: column;
    gap: 20px;
}
.content .buttons {
    display: flex;
    gap: 20px;
}
.content .groupArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.content .groupArea .group {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 300px;
}